* {
    margin: 0px;
    padding: 0px;
    /* box-sizing:border-box; */
}

body {
    background-image: linear-gradient(to right top, #c2fffd, hsl(180, 100%, 75%), #43e5fa, #78bffd, #2e89f8);
    height: 107vh;
    font-family: 'Lucida Bright', cursive;
}




@keyframes typing {
    from {
        width: 0%
    }

    to {
        width: 100%
    }
}

@keyframes blink {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}

.welcome {
    margin: auto;
    width: 100%;
    font-family: 'Apple Chancery', sans-serif;
    color: azure;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding: 10px;

}

.userinput {
    padding-top: 3px;
    /* width: 850px; */
    width: 100%;

    /* border: 5px solid gray; */
    margin: auto;
    /* border-collapse: collapse; */
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    border-collapse: collapse;
    /* border-style:green; */
}

.output {
    padding-top: 3px;
    padding-left: 20px;
    /* width: 850px; */
    width: 100%;
    /* border: 5px solid gray; */
    margin: auto;
    /* border-collapse: collapse; */
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-family: 'Apple Chancery', sans-serif;
    border-collapse: collapse;
    /* border-style:green; */
}

.input-text {
    /* padding-bottom: 5px; */
    font-size: 17px;
    border: none;
    border-radius: 10px;
    padding: 18px 18px;
    border: 2px solid #ccc;



    /* background-color:#A5D9EF; */
}

.button {
    margin-top: 25px;
    border-radius: 10px;
    font-family: 'Segoe UI', monospace;
    padding: 15px;
}

button {
    margin-top: 50pt;
    margin-bottom: 10pt;
    border: none;
    color: black;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}